/README.md

# Byte-compiled / optimized / DLL files
/__pycache__/
*.py[cod]
*$py.class
/*/*/__pycache__/

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Environments
.env
.venv
/env/
venv/
ENV/
env.bak/
venv.bak/
.dockerignore
.gitignore
.git/

# mac os
.DS_Store
.DS_Store/
.idea/
/secret_key.txt

# Dockerfile run configurations
/.run/
