{% extends "base.html" %}

{% block title %} Delete AllowedIPs Group {% endblock %}

{% block page_name %} Delete AllowedIPs Group {% endblock %}

{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
<li class="breadcrumb-item"><a href="{% url 'index_allowed_ips_group' %}">AllowedIPs Groups</a></li>
<li class="breadcrumb-item active">Delete AllowedIPs Group</li>
{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-4">
        <div class="card shadow-lg border-0 rounded-lg mt-5">
            <div class="card-header"><h3 class="text-center font-weight-light my-4">Delete AllowedIPs Group</h3></div>
            <div class="card-body">
                <h5>Are you sure you want to delete "{{ allowed_ips_group }}" ?</h5>
                <form method="post">
                    {% csrf_token %}
                    <div class="d-flex justify-content-end">
                        <a href="{% url 'index_allowed_ips_group' %}" class="btn btn-secondary me-2">Cancel</a>
                        <input type="submit" class="btn btn-danger ml-2"  value="Delete">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}