{% extends "layouts/base.html" %}

{% block title %} Sample-page {% endblock %}

{% block content %}

    <div class="row justify-content-center">
        <div class="col-md-10 col-xl-8">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card">
                    <div class="card-header">
                        <i class="fas fa-user me-1"></i>
                        Profile: {{ user.username }}
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="d-flex justify-content-center">
                                <div class="auth-header">
                                    <h2 class="text-secondary mt-5"><b>Password Changed</b></h2>
                                    <p class="f-16 mt-2">Your password has been changed successfully.</p>
                                </div>
                            </div>
                        </div>
                        <hr/>
                        <h5 class="text-decoration-underline">
                            <a class="ms-2" href="{% url 'dashboard' %}">Back to Dashboard</a>
                        </h5>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}