{% extends "layouts/base-fullscreen.html" %}

{% block title %} Reset password {% endblock %}

{% block content %}

    <div class="col-lg-5">
        <div class="card shadow-lg border-0 rounded-lg mt-5">
            <div class="card-header">
                <h3 class="text-center font-weight-light my-4">Reset Password</h3>

            </div>
            <div class="card-body">
                <p class="mb-2">Enter your Email to reset.</p>
                <form method="post">
                    {% csrf_token %}
                    <div class="form-floating mb-3">
                        {{ form.email }}
                        <label for="inputEmail">Email</label>
                    </div>
                    <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                        <a class="small" href="{% url 'login' %}">Login</a>
                        <button type="submit" class="btn btn-primary">Reset</button>
                    </div>
                </form>
            </div>
            <div class="card-footer text-center py-3">
                <div class="small"><a href="{% url 'register' %}">Need an account? Sign up!</a></div>
            </div>
        </div>
    </div>

{% endblock content %}