{% extends "layouts/base.html" %}

{% block title %} Update OpnSense API client {% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-6">
        <div class="card shadow-lg border-0 rounded-lg mt-5">
            <div class="card-header"><h3 class="text-center font-weight-light my-4">Update OpnSense API client</h3></div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-check mb-3">
                        {{ form.is_default }}
                        <label class="form-check-label" for="id_is_default">Is default</label>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-4">
                            <div class="form-floating">
                                {{ form.friendly_name }}
                                <label>Friendly name</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-floating">
                                {{ form.endpoint_url }}
                                <label>Endpoint IP/Host</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-floating">
                                {{ form.base_url }}
                                <label>Base url</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-floating mb-3">
                        {{ form.api_key }}
                        <label>API key</label>
                    </div>
                    <div class="form-floating">
                        {{ form.api_secret }}
                        <label>API secret</label>
                    </div>

                    <div class="input-group mt-3">
                        <input id="fileInput" name="fileInput" type="file" class="form-control" placeholder="Upload file..." aria-label="Upload file..." aria-describedby="btnFileInput"/>
                        <label class="input-group-text" for="fileInput">Load from apikey.txt</label>
                        <button class="btn btn-primary" id="btnFileInput" onclick="parseIniFile(event)" ><i class="fas fa-upload"></i></button>
                    </div>

                    <div class="mt-3 mb-0">
                        <div class="d-flex justify-content-between">
                            <button id="btn-test-connection" onclick="test_connection(event)" class="btn btn-outline-warning">Test Connection</button>
                            <button type="submit" id="add-api-client" class="btn btn-outline-primary btn-block" disabled >Update API Client</button>
                        </div>
                    </div>

                </form>
            </div>
            <div class="card-footer text-center py-3 d-none">
                <div id="message" class="alert alert-danger" role="alert"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}