{% extends "layouts/base.html" %}

{% block title %} Delete OpnSense API client {% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-10 col-xl-8">
        <div class="card shadow-lg border-0 rounded-lg mt-5">
            <div class="card-header"><h3 class="text-center font-weight-light my-4">Delete OpnSense API client</h3></div>
            <div class="card-body text-center">
                <h5>Are you sure you want to delete "{{ object }}" ?</h5>
                <form method="post">
                    {% csrf_token %}
                    <div class="d-flex justify-content-end">
                        <a href="{% url 'index_api_clients' %}" class="btn btn-secondary me-2">Cancel</a>
                        <input type="submit" class="btn btn-danger ml-2"  value="Delete">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}