{% extends "base.html" %}

{% block title %} Dashboard - OpnWG {% endblock %}

{% block page_name %} Dashboard {% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item active">Dashboard</li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xl-3 col-md-6">
        <div class="card bg-primary text-white mb-4">
            <div class="card-body">Total clients: {{ status_count.total }} </div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" href="{% url 'dashboard' %}">View Details</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-success text-white mb-4">
            <div class="card-body">Active clients: {{ status_count.active }}</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" href="{% url 'dashboard_filter' 'active' %}">View Details</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-warning text-white mb-4">
            <div class="card-body">Inactive more thad 3 days: {{ status_count.inactive_more_3days }}</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" href="{% url 'dashboard_filter' 'inactive_more_3days' %}">View Details</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-danger text-white mb-4">
            <div class="card-body">Inactive clients: {{ status_count.inactive }}</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" href="{% url 'dashboard_filter' 'inactive' %}">View Details</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    </div>

    <div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Clients Status
    </div>
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>Interface</th>
                    <th>Name</th>
                    <th>Tunnel address</th>
                    <th>Last Handshake</th>
                    <th>Config file</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Interface</th>
                    <th>Name</th>
                    <th>Tunnel address</th>
                    <th>Last Handshake</th>
                    <th>Config file</th>
                </tr>
            </tfoot>
            <tbody>
                {% for client in clients %}
                <tr>
                    <td>{{ client.interface_name }}</td>
                    <td><a class="nav-link" href="{% url 'update_wg_users' client.uuid %}"> {{ client.name }} </a></td>
                    <td>{{ client.tunneladdress }}</td>
                    <td>{{ client.lastHandshake | date:"d.m.y H:i" }}</td>
                    {% if 'config_url' in client %}
                    <td><a class="nav-link" href="{{ client.config_url }}"> get file </a></td>
                    {% else %}
                    <td>not found file</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
