<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">API: {% if user.default_api_client %}
                    {{user.default_api_client.friendly_name}}
                    {% else %} 'Not set!' {% endif %}</div>
                <a class="nav-link active" href="/">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Dashboard
                </a>
                <a class="nav-link" href="{% url 'index_wg_users' %}">
                    <div class="sb-nav-link-icon"><i class="fas fa-user-plus"></i></div>
                    WireGuard Users
                </a>

                <div class="sb-sidenav-menu-heading">API Clients</div>
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts"
                   aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Settings
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne"
                     data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="{% url 'index_api_clients' %}">API Clients</a>
                        <a class="nav-link" href="{% url 'index_allowed_ips_group' %}">AllowedIPs Groups</a>
                    </nav>
                </div>

                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseAPIClients"
                   aria-expanded="false" aria-controls="collapseAPIClients">
                    <div class="sb-nav-link-icon"><i class="fas  fa-cloud"></i></div>
                    Switch API Client
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseAPIClients" aria-labelledby="headingOne"
                     data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        {% for api_client in user.open_sense_api_clients %}
                            <a class="nav-link {% if api_client.friendly_name == user.default_api_client.friendly_name %} active {% endif %}"
                               href="{% url 'set_default_api_client' api_client.id %}">
                                {{api_client.friendly_name}}
                            </a>
                        {% endfor %}
                    </nav>
                </div>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Logged in as:</div>
            {{ user.first_name }} {{ user.last_name }}
        </div>
    </nav>
</div>