{% extends "base.html" %}

{% block title %} WireGuard Users {% endblock %}

{% block page_name %} WireGuard Users {% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
    <li class="breadcrumb-item active">WireGuard Users</li>
{% endblock %}

{% block content %}
<div class="card mb-4">
    <div class="card-header">
        <div class="d-flex justify-content-between">
            <span class="pt-2"><i class="fas fa-table me-1"></i>
                WireGuard Users</span>
            <a href="{% url 'create_wg_users' %}" class="btn btn-primary text-end">Add WG Users</a>
        </div>
    </div>
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>Interface Name</th>
                    <th>User Name</th>
                    <th>Tunnel Address</th>
                    <th>Keepalive</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Interface Name</th>
                    <th>User Name</th>
                    <th>Tunnel Address</th>
                    <th>Keepalive</th>
                    <th>Action</th>
                </tr>
            </tfoot>
            <tbody>
            {% for wg_user in wg_users %}
                <tr>
                    <td> {{ wg_user.interface_name }} </td>
                    <td><a class="nav-link pt-0 pb-0" href="{% url 'update_wg_users' wg_user.uuid %}">{{ wg_user.name }}</a></td>
                    <td>{{ wg_user.tunneladdress }}</td>
                    <td>{{ wg_user.keepalive }}</td>
                    <td>
                        <a href="{% url 'download_wg_users' wg_user.uuid %}" class="btn btn-outline-primary">download</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}