<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta name="description" content="OPNSense Wireguard User Management"/>
        <meta name="author" content="GiK986"/>

        <title>{% block title %} {% endblock %}</title>

        <link rel="icon" type="image/x-icon" href="{% static 'assets/img/wireguard_logo_icon_168760.ico' %}">
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet"/>
        <link href="{% static 'css/styles.css' %}" rel="stylesheet"/>
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    </head>
    <body class="bg-primary">
        <div id="layoutError">
            <div id="layoutError_content">
                {% block content %}{% endblock content %}
            </div>
            <div id="layoutError_footer">
                {% include 'includes/footer.html' %}
            </div>
        </div>
    </body>
</html>
